@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}
.title {
  text-align: center;
  font-size: 92px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(126deg, #009246 27.09%, #ce2b37 76.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swal2-popup {
  font-family: Helvetica !important;
}
